<!DOCTYPE html>
<html lang="en">

<head>
    <title>Projects</title>
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/nav', {mobile: mobile}); %>

        <div class="section" id="work">
            <div class="container">
                <% if (editor) { %>
                    <%- include('partials/project-editor'); %>
                        <% } %>
                            <h3 class="header text_b center">Projects</h3>

                            <div class="row">
                                <% projects.forEach(function(project){ %>
                                    <%- include('partials/project', {project: project}); %>
                                        <% }); %>
                            </div>
            </div>
        </div>

        <%- include('partials/sociallinks'); %>
</body>
<%- include('partials/materializescript'); %>

</html>