<!DOCTYPE html>
<html lang="en">

<head>
    <title>Projects</title>
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/nav', {mobile: mobile}); %>

        <div class="section" id="work">
            <div class="container">
                <% if (editor) { %>
                    <%- include('partials/project-editor'); %>
                        <% } %>
                            <h3 class="header text_b center">Projects</h3>

                            <div class="row">
                                <div class="col s12 m12 l8 offset-l2">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="input-field">
                                                <i class="material-icons prefix">search</i>
                                                <label for="project-search">Search Projects</label>
                                                <input type="text" id="project-search" name="project-search">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <% projects.forEach(function(project){ %>
                                    <%- include('partials/project', {project: project}); %>
                                        <% }); %>
                            </div>
            </div>
        </div>

        <%- include('partials/sociallinks'); %>
</body>
<%- include('partials/materializescript'); %>
    <%- include('partials/projects-script', {project_query: project_query}); %>
        <% if (editor) { %>
            <%- include('partials/project-editor-script'); %>
                <% } %>

</html>